<header class="navibar header-navibar text-white">
  <div class="container">
    <%= link_to "さくらマーケット", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
        <li><%= link_to "my page", users_path %></li>
        <% else %>
        <li><%= link_to "Log in", login_page_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>